@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Roboto+Mono:ital,wght@1,100&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.letraNavBar{
    font-family: 'Kalam', cursive;
}
.bg-fondo{
    background-image: url("../imagenes/fondo.jpg");
    background-repeat: repeat;
}